<%= provide(:title, 'Posts') %>


<section>
	<% @posts.each do |post| %>
		<div class="post">
			<h5 style="color:blue"><%=post.user.name %></h5>
			<% if post.class == Post %>
				<p><%= link_to post.preview, post_path(post), class: "post-index-text" %></p>
			<% end %>
			<i class="createdforntsize">Created on <%= post.created_at.strftime("%m-%d-%Y at %I:%M %p") %></i>
			<%= link_to "Comment (#{post.comments.count})", post_path(post), class: "right-link" %>
		</div>
	<% end %>
	<% if @posts.count > 8 %>
	<div class="post">
	   <%= will_paginate(@posts, inner_window: 1, outer_window:0) %>
    </div>
    <% end %>
</section>






<br-->
